body {
    background-image: url('../images/fondoe.jpg'); /* Ruta relativa a la carpeta CSS */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}