body {
    background-image: url('../images/fondoe.jpg'); /* Ruta relativa a la carpeta CSS */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 180px;
    object-fit: cover; /* Hace que la imagen se ajuste al tamaño sin deformarse */
    border-bottom: 1px solid #f1f1f1;
}

.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-footer button {
    margin: 0 5px;
}
