
{% extends "base.html" %}

{% block title %}Bienvenido - Concesionaria{% endblock %}

{% block content %}



<div class="card-deck mt-4">
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Auto 1">
        <div class="card-body">
            <h5 class="card-title">Auto Modelo 1</h5>
            <p class="card-text">Descripción breve del auto.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Auto 2">
        <div class="card-body">
            <h5 class="card-title">Auto Modelo 2</h5>
            <p class="card-text">Descripción breve del auto.</p>
        </div>
    </div>
    <div class="card">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Auto 3">
        <div class="card-body">
            <h5 class="card-title">Auto Modelo 3</h5>
            <p class="card-text">Descripción breve del auto.</p>
        </div>
    </div>
</div>
{% endblock %}

